<!DOCTYPE html>
<html ng-app="appContatos">
<head>
	<title>Parte 1</title>
	<script type="text/javascript" src="lib/angular/angular-1.6.2.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controller/contato-controller.js"></script>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" />
	<style type="text/css">
		.jumbotron{
			width:800px;
			text-align:center;
			margin-top:20px;
			margin-left:auto;
			margin-right:auto;
		}

		.table{
			margin-top:20;
		}

		.form-control{

		}

	</style>
</head>
<body>
	
	<div class="jumbotron" ng-controller="contatosCtrl">
		<h4 ng-bind="app"></h4>
		<hr />
		<br />
		
		<table class="table table-striped">
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Estado</th>
					<th>Operadora</th>
					<th>Ações</th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<td>{{contato.id}}</td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.email}}</td>
					<td>{{contato.estado.descricao}}</td>
					<td>{{contato.operadora.descricao}}</td>
					<td>
						<button class="glyphicon glyphicon-pencil" ng-click="editar(contato)"></button>
						<button class="glyphicon glyphicon-remove" ng-click="excluir(contato)"></button>
					</td>
				</tr>
		</table>

		<hr />
		<input type="text" ng-model="contato.nome" class="form-control" placeholder="Nome" />
		<input type="text" ng-model="contato.telefone" class="form-control" placeholder="Telefone" />
		<input type="email" ng-model="contato.email" class="form-control" placeholder="Email" />
		<select class="form-control" ng-model="contato.estado" ng-options="estado.id as estado.descricao for estado in estados">
			<option value="">-- Selecione um estado --</option>
		</select>
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.id as operadora.descricao for operadora in operadoras">
			<option value="">-- Selecione uma operadora --</option>
		</select>
		<button ng-click="adicionar()" ng-show="!show_lterar" class="btn btn-primary btn-block">Adiconar contato</button>
		<button ng-click="alterar(contato)" ng-show="show_lterar" class="btn btn-primary btn-block">Alterar contato</button> 
		<div class="alert alert-success" ng-show="message != ''" role="alert">{{message}}</div>
	</div>

</body>
</html>
